*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262525;
    border: 2px solid aqua;
    border-radius: 10px;
}
/* .loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 500px;
    background-color: #8AAEE0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(77, 73, 73, 0.5); 
} */
.loader h1{
    align-items: center;
    padding-left: 33%;
    padding-bottom: 15px;
    color: white;
}
.insideLoader{
    height: 25px;
    width: 400px;
    background-color: #c0d8ff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(77, 73, 73, 0.5); 

}
.mover{
    height: 25px;
    width: 1px;
    background-color: #243c60;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(77, 73, 73, 0.5);
    animation: loading 1.5s forwards cubic-bezier(0,0,0,0);
}
@keyframes loading {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
        background-color: rgb(48, 201, 48);
    }
    
}

@media only screen and (max-width: 455px) and (orientation: portrait) {
}

/*landscape mode*/

@media only screen and (max-device-width: 932px)  and (orientation: landscape){

}