@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.portfolio-container{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
}
.navlist{
    list-style: none;
    display: flex;
    gap: 3.5rem;

    display: flex;
    justify-content: center;
    padding-top: 0.8rem;

    height: 15vh;
    width: 100%;

    position:fixed;
    
}
.navlist a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
}
.left-container{
    background-color: #262525;
    width: 70%;
    padding-left: 3rem;
    
}
.right-container{
    background: linear-gradient(-45deg, #3877FF , #262525 );
    width: 30%;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.icons .fa-brands:hover {
    cursor: pointer;
    background: linear-gradient(white, #17d2dc);
    -webkit-background-clip: text;
    background-clip: text; /* Added for wider browser support */
    color: transparent; /* Make the text transparent */
}

.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}
.content{
    margin-left: 4rem ;
    
}
.content .intro{
    font-size: 1.5rem;
    color: white;
}
.content .intro span{
    color: #5DB9EE;
}
.content h1{
    font-size: 4rem;
    color: #5DB9EE;
}
.content .detail{
    font-size: .9rem;
    color: white;
    max-width: 35rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}

.btn-container button{
    border: 0.1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .4s ease;
}

.btn1{
    background-color: #5DB9EE;
    color: #262525;
}
.btn2{
    background: transparent;
    color:  #5DB9EE;
    margin-left: 2rem;
}
.btn1:hover{ 
    background: transparent;
    color: #5DB9EE;
}
.btn2:hover{
    background: #5DB9EE;;
    color: #262525;
}


.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background :linear-gradient(90deg, transparent, #262525 50%);
    width: 35rem;
}
.circle:nth-child(2){
    width: 27rem;
    background-image: url("suveshpiccopy.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: .1rem solid white;
    box-shadow:
    0 0  1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem #1f56cd;
}
.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .4s;
}
.navlist li a:hover::after, .navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Your existing CSS styles here */

/* Style for the email icon */
.email-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbb;
    font-size: 1.7rem;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #3a3e4a;
    text-decoration: none;
}

.email-icon{
    padding-bottom: .1rem;
}
.email-icon:hover{
    cursor: pointer;
    background: linear-gradient(white, rgb(23, 210, 220));
    -webkit-background-clip: text;
    background-clip: text; /* Added for wider browser support */
    color: rgb(23, 210, 220); /* Make the text transparent */
}


/*portrait mode 1*/
 @media only screen and (max-width: 455px) and (orientation: portrait) {
    .portfolio-container{
        max-height: auto;
        width: auto;
        border:1px solid #3877FF;;
    }
    .left-container{
        min-width: 100%;
        min-height: 140vh;
        padding-left: 0rem;
    }
    .navlist{
        list-style: none;
        display: flex;
        gap: 1rem;
    
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-left: .1rem;
        padding-right: .1rem;
    
        height: 10vh;
        width: 100%;
    
    
        position:fixed;
        
    }
    .navlist a{
        text-decoration: none;
        font-size: .9rem;
        color: white;
        position: relative;
    }

    .design .circle{
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .circle:nth-child(1){
        background :linear-gradient(90deg, transparent, #262525 50%);
        width: 0rem;
    }
    .circle:nth-child(2){
        width: 18rem;
        background-image: url("suveshpiccopy.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        border: .1rem solid white;
        box-shadow:
        0 0  1rem #fff,
        inset 0 0 1rem #fff,
        0 0 2rem #3877FF,
        inset 0 0 2rem #3877FF,
        0 0 4rem #3877FF,
        inset 0 0 4rem #1f56cd;
    }

    .content{
        margin-left: 3rem;
        padding-right: 1rem;
        padding-bottom: 8rem;
        padding-top: 10rem;

    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute; 
        bottom: 0;
        left: 1rem; 
        right: 1rem; 
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .btn-container button{
        border: 0.1rem solid #5DB9EE;
        font-size: 1.1rem;
        padding: .8rem 1rem;
        border-radius: .5rem;
        cursor: pointer;
        transition: .4s ease;
    }
} 


/*portrait mode 2*/
@media only screen and (max-width: 400px) and (orientation: portrait) {
    .portfolio-container{
        max-height: auto;
        width: auto;
        border:1px solid #3877FF;;
    }
    .left-container{
        min-width: 100%;
        min-height: 140vh;
        padding-left: 0rem;
    }
    .navlist{
        list-style: none;
        display: flex;
        gap: 1rem;
    
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        padding-left: .1rem;
        padding-right: .1rem;
    
        height: 10vh;
        width: 100%;
    
    
        position:fixed;
        
    }
    .navlist a{
        text-decoration: none;
        font-size: .8rem;
        color: white;
        position: relative;
    }

    .design .circle{
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .circle:nth-child(1){
        background :linear-gradient(90deg, transparent, #262525 50%);
        width: 0rem;
    }
    .circle:nth-child(2){
        width: 15rem;
        background-image: url("suveshpiccopy.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        border: .1rem solid white;
        box-shadow:
        0 0  1rem #fff,
        inset 0 0 1rem #fff,
        0 0 2rem #3877FF,
        inset 0 0 2rem #3877FF,
        0 0 4rem #3877FF,
        inset 0 0 4rem #1f56cd;
    }

    .content{
        margin-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 8rem;
        padding-top: 20rem;
    }
    .content h1{
        font-size: 3rem;
        text-align: center
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute; 
        bottom: 0;
        right: 1rem; 
        left: 1rem;
        position: fixed;
        margin-bottom: 1rem;
        
    }


    .btn-container button{
        border: 0.1rem solid #5DB9EE;
        font-size: 1.1rem;
        padding: .8rem 1rem;
        border-radius: .5rem;
        cursor: pointer;
        transition: .4s ease;
    }
} 





/*landscape mode 1*/

@media only screen and (max-device-width: 932px)  and (orientation: landscape) {
    .portfolio-container{
        min-height:auto;
        min-width: auto;
        height: auto;
    }
    .left-container{
        padding-left: 1rem;
        width: 80%;
    }
    .right-container{
        width: 20%;
    }
    .navlist{
        list-style: none;
        display: flex;
        gap: 3.5rem;
    
        display: flex;
        justify-content: center;
        padding-top: 0.2rem;
    
        height: 8vh;
        width: 100%;
    
        position:fixed;
        
    }
    
    .design .circle{
        aspect-ratio: 1;
        position: fixed;
        border-radius: 50%;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    
    .circle:nth-child(1){
        background :linear-gradient(90deg, transparent, #262525 50%);
        width: 16rem;
    }
    .circle:nth-child(2){
        width: 11rem;
        background-image: url("suveshpiccopy.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        border: .1rem solid white;
        box-shadow:
        0 0  1rem #fff,
        inset 0 0 1rem #fff,
        0 0 2rem #3877FF,
        inset 0 0 2rem #3877FF,
        0 0 4rem #3877FF,
        inset 0 0 4rem #1f56cd;
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
    
    .content{
        height: auto;
        max-width: 25rem;
        padding-top: 5rem;
        margin-left: 2rem ;
        margin-bottom: 2rem;
        
    }
    .content .intro{
        font-size: 1.2rem;
        color: white;
    }
    .content .intro span{
        color: #5DB9EE;
    }
    .content h1{
        font-size: 2.5rem;
        color: #5DB9EE;
    }
    .content .detail{
        font-size: .8rem;
        color: white;
        max-width: 35rem;
        margin: 1rem 0 3rem 0;
        line-height: 1.8rem;
    }
    
}
 
/*landscape 2*/
@media only screen and (max-device-width: 800px)  and (orientation: landscape) {
    .portfolio-container{
        min-height:auto;
        min-width: auto;
        height: auto;
    }
    .left-container{
        padding-left: 1rem;
        width: 80%;
    }
    .right-container{
        width: 20%;
    }
    .navlist{
        list-style: none;
        display: flex;
        gap: 3.5rem;
    
        display: flex;
        justify-content: center;
        padding-top: 0.2rem;
    
        height: 8vh;
        width: 100%;
    
        position:fixed;
        
    }
    .navlist a{
        font-size: .8rem;
    }
    .design .circle{
        position: fixed;
        aspect-ratio: 1;
        border-radius: 50%;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
    .circle:nth-child(1){
        background :linear-gradient(90deg, transparent, #262525 50%);
        width: 14rem;
    }
    .circle:nth-child(2){
        width: 10rem;
        background-image: url("suveshpiccopy.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        border: .1rem solid white;
        box-shadow:
        0 0  1rem #fff,
        inset 0 0 1rem #fff,
        0 0 2rem #3877FF,
        inset 0 0 2rem #3877FF,
        0 0 4rem #3877FF,
        inset 0 0 4rem #1f56cd;
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }
    
    .content{
        height: auto;
        max-width: 25rem;
        padding-top: 4rem;
        margin-left: 2rem ;
        margin-bottom: 2rem;
        
    }
    .content .intro{
        font-size: 1.1rem;
        color: white;
    }
    .content .intro span{
        color: #5DB9EE;
    }
    .content h1{
        font-size: 2rem;
        color: #5DB9EE;
    }
    .content .detail{
        font-size: .7rem;
        color: white;
        max-width: 22rem;
        margin: 1rem 0 1rem 0;
        line-height: 1.8rem;
    }

    .btn-container{
        padding-bottom: 1rem;
    }
    .btn-container button{
        border: 0.1rem solid #5DB9EE;
        font-size: .8rem;
        padding: .7rem 1rem;
        border-radius: .5rem;
        cursor: pointer;
        transition: .4s ease;
    }
    
    
}
 

